[submodule "maximum-awesome"]
	path = maximum-awesome
	url = git@github.com:YoungCatChen/maximum-awesome.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zprezto"]
	path = zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "fish/fish-history-merge"]
	path = fish/fish-history-merge
	url = https://github.com/2m/fish-history-merge.git
